html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0; margin: 0;
  background-color: #646464;

}

h1 {
  /*float: left;
  color: #fff;
  padding-left: 10px;*/
  font-size: 44px;
}

/*index.html sign in/sign up button*/
#signin-button{
  margin-left: 37%;
  /*margin-right: 30%;*/
  width: 20%;
  margin-bottom: 10%;
  background-color: #660000;
  display: inline-block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#signin-button:hover {
  color: black;
}

#signed-in {
  float: right;
  margin-top: 10px;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 10%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/*signin.html sign in and sign up button*/
.submit-button{
  background-color: #660000;
  display: inline-block;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  color: black;
}

#start-button{
  margin-left: 40%;
  /*margin-right: 30%;*/
  width: 20%;
  margin-bottom: 10%;
  background-color: #660000;
  display: inline-block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#start-button:hover {
  color: black;
}

#edit-button {
  display: block;
  width: 10%;
  background-color: #660000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10%;
}

.signin-signout {
  margin-top: 10px;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 10%;
  background-color: #660000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10%;
}

/*Facebook and Google authentication button*/
.social-media{
  display: block;
  border: none;
  width: 150px;
  cursor: pointer;
}

#title {
  margin-top:120px;
  color: #FF6600;
  text-align: center;
  display:block;
  margin-bottom: 0;
}

/*Short descriptions under the title*/
.sub-title {
  margin-top: 0;
  color: white;
  text-align: center;
  display: block;
}

/*Two columns of content in signinhtml*/
.content {
  width: 35%;
  float: right;
  border-left: 1px solid #ccc;
  padding: 0 20px 20px 20px;
}

label {
  display: block;
}

/*Style for the sign in and and sign up forms*/
.signin input[type="text"] {
  width: 150px;
  display: block;
}

.signin input[type="password"] {
  width: 150px;
  display: block;
}

.signin label {
  margin-bottom: 20px;
}

#forgot-password {
  color: #0000EE;
  font-size: 11px;
}

#forgot-password:hover {
  color: #551A8B;
}

/*ul list styling*/
ul {
  list-style-type: none;
  margin-left: 20%;
  width: 80%;
  padding: 0;
  position: absolute;
}

/*Display list in a line*/
li {
  display: block;
  float: left;
  margin-right: 1px;
  width: 20%;
}

/*Style each link*/
li a {
  display: block;
  min-width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}

/*Change background color when hover*/
li:hover a {
  background: #660000;
  color: black;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #2f3036;
  text-align: center;
  padding: 10% 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Style the logo in index.html*/
img.logo {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  padding-bottom: 10px;
}

#user-content {
  margin-left: 20%;
  margin-right: 20%;
}

img.user-logo {
  display: inline-block;
  width: 18%;
  padding-bottom: 10px;
}

/*Make yellow stars for the score*/
.star-icon {
  color: #ddd;
  font-size: 4vmin;
  position: relative;
}

.star-icon.full:before {
  text-shadow: 0 0 0px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605';
  position: absolute;
  left: 0;
}


/*Style for the six levels of beginner levels*/
#beginner{
  text-align: center;
  margin-left: 24%;
  margin-right: 20%;
  margin-top: 10px;
}

.level{
  display: inline-block;
  text-decoration: none;
  width: 32%;
/*  max-width: 100%;*/
}


.level-logo {
  display: inline-block;
/*  margin-left: 30%;
  margin-right: 30%;*/
  width: 100%;
  max-width: 100%;
}

#level-logo {
  display: block;
  margin-left: 45%;
  width: 120px;
  padding-bottom: 10px;
}

#logo-edit {
  display: block;
  width: 120px;
  padding-bottom: 10px;
}

.caption {
  margin-bottom: 10%;
}

#intermediate {
  text-align: center;
  margin-left: 24%;
  margin-right: 20%;
  margin-top: 10px;
  opacity: 0.5;
}

#intermediate a{
  display: inline-block;
  text-decoration: none;
  width: 32%;
  pointer-events: none;
}

#advanced {
  text-align: center;
  margin-left: 24%;
  margin-right: 20%;
  margin-top: 10px;
  opacity: 0.5;
}

#advanced a{
  display: inline-block;
  text-decoration: none;
  width: 32%;
  pointer-events: none;
}

#scores {
  margin-left: 10%;
}

#edit {
  margin-left: 20%;
}

#edit-program input[type="text"] {
  width: 200px;
  display: block;
}

#edit-program textarea {
  width: 300px;
  height: 100px;
  display: block;
}

#edit-program label{
  margin-bottom: 20px;
}

#code{
  background-color: #c2c1ba;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  word-wrap:break-word;
  font-size: 15px;
  border: thick black;
}

/*Responsive styles*/
@media screen and (max-width : 414px){
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  .content {
    width: 80%;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }

  #menu {
    margin-top: 1px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 12px;
  }

  img.product-image {
    float: none;
    display: block;
  }

  #title {
    margin-top: 10%;
  }

  #signin-button {
    padding: 5px 8px;
    font-size: 10px;
  }

  .level-logo{
    margin-left: 40%;
    width: 80px;
  }

  #code {
    font-size: 10px;
  }

  #edit-button,
  #start-button {
    font-size: 10px;
  }
}

#footer {
  background: #2f3036;
  color: #fff;
  clear: both;
  padding: 10px;
  text-align: center;
}

#footer a:link,
#footer a:visited {
  color: #fff;
}

#footer a:hover {
  color: black;
}

#selected-nav:link,
#selected-nav {
  color: black;
  background-color: #660000;
}
